.news-select {
   padding: 1.5rem 0;
   display: flex;
   align-items: center;
   gap: 0.7rem;
   justify-content: flex-end;
}

.news-selector {
   width: 150px;

   &__opt > div {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      img {
         max-width: 15px;
      }
   }
}
