//font-sizes
$font_main: 1.4rem;
$font_sm: 1.2rem;
$font_md: 1.6rem;
$font_lg: 1.8rem;
$font_xl: 2.1rem;
$font_h2: 2.6rem;

//colors
$text_primary: rgb(255, 255, 255);
$text_secondary: rgb(231, 231, 231);
$bg_primary: #4241dd;
$bg_green: #37b696;
$bg_secondary: #00ba00;
$pink: #0071bd;
$light-blue: #e4f4fc;
$border: #d9d9d9;

//breakpoints
$xs: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//header
$header_width: 250px;

//shadows
$cardShadow: 0px 3px 5px 1px rgba(255, 255, 255, 0.288);
$cardShadowHover: 0px 3px 8px 1px rgba(255, 255, 255, 0.712);

//bar
$barTop: 3;
$barLeft: 2;
$barWidth: 3.6;
$barHeight: 2.8;
