@import "../../styles/variables";
@import "../../styles/mixins";

.layout {
   &__col {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
   }

   &__row {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
   }

   &__content {
      width: 100%;
      background-image: radial-gradient(at right bottom, $bg_secondary, $bg_primary);
      display: flex;
      flex-direction: column;
      padding: 3rem 2.5rem 3rem $header_width + (2.5 * 10);

      @media (max-width: $lg) {
         padding: 2.5rem;
      }
   }

   & .content {
      flex: 1 1 auto;
      border-radius: 10px;
   }

   & .footer {
      position: relative;
      background: rgb(248, 248, 248);

      &__main {
         display: flex;
         gap: 2.5rem;
         justify-content: space-between;
      }

      &__row {
         display: flex;
         justify-content: space-between;
         padding: 1.4rem 2rem 0rem $header_width + (2 * 10);
         gap: 1.5rem;

         @media (max-width: $lg) {
            padding: 1.5rem;
            flex-direction: column;
         }

         & .foot-col {
            &__title {
               @include font-sm;
               font-weight: bold;
               line-height: 2.4rem;
               color: $bg_secondary;
               text-transform: uppercase;

               span {
               }
            }
            &__list {
            }

            &__li {
               a {
                  font-size: 1.1rem;
                  color: rgb(29, 29, 29);

                  &:hover {
                     text-decoration: underline;
                  }
               }
            }

            & .foot-contact {
               &__li {
                  display: flex;
                  align-items: center;
                  gap: 0.65rem;
                  @include font-md;
                  line-height: 2.9rem;

                  & .footer-icon {
                     font-size: 2rem;
                     color: rgb(39, 39, 39);
                  }

                  a {
                     color: rgb(41, 41, 41);
                  }
                  span {
                     color: rgb(41, 41, 41);
                  }
               }
            }

            &.foot-col-center {
               @media (max-width: $lg) {
                  text-align: center;
               }
            }

            &__aboutus {
               font-size: 1.1rem;
               color: rgb(29, 29, 29);
               font-weight: 300;

               @media (max-width: $lg) {
                  display: none;
               }
            }

            &__rights {
               font-size: 1.1rem;
               color: rgb(29, 29, 29);
            }
         }
      }
   }
}
