.crypto-currs {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 2rem;

   &__pagination {
      padding: 2.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
